<config xmlns="http://tail-f.com/ns/config/1.0">
  <devices xmlns="http://tail-f.com/ns/ncs">
  <authgroups>
    <group>
      <name>default</name>
      <default-map>
        <remote-name>{{ DfltAuthUser }}</remote-name>
        <remote-password>{{ DfltAuthPass }}</remote-password>
      </default-map>
    </group>
  </authgroups>
  </devices>
</config>
